<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Youtube API</title>

	<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="youtube-feed container">
	<script id="template" type=test/template>
		<div class="youtube-item">
			<a href="{{link}}" class="link">
				<img src="{{thumb}}" alt="">
			</a>
			<div class="info">
				<h6 class="title">{{title}}</h6>
				<p>{{channel}}</p>
				<p>{{views}}</p>
			</div>
		</div>
	</script>
</div>

<div class="button container">
	
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
	var query = 'TANNOY dvs 6',
		apiKey = 'AIzaSyClk5kDLh3fDpf6RnkK_OHzVx2dvCDiLHc';

	(function search() {
		$('.youtube-feed').html('');
		$('.button').html('');

		$.get('https://www.googleapis.com/youtube/v3/search', {
			part: 'snippet, id',
			q: query,
			type: 'video',
			maxResults: 10,
			key: apiKey},
		function(data) {
			var nextPageToken = data.nextPageToken;
			$.each(data.items, function(i, item) {
				var dataOutput = getOutput(item);

				$(dataOutput).appendTo('.youtube-feed');
			});

			var buttons = getButtons(nextPageToken);

			$(buttons).appendTo('.button');
		});
	})();

	function getOutput(item) {
		var dataResults = {
			id: item.id.videoId,
            title: item.snippet.title,
            desc: item.snippet.description,
            thumb: item.snippet.thumbnails.medium.url,
            channel: item.snippet.channelTitle
		};

		var output = '<div class="youtube-item"><a href="https://youtube.com/embed'+dataResults.id+'" class="link"><img src="'+dataResults.thumb+'" alt=""></a><div class="info"><h5>'+dataResults.title+'</h5><p>'+dataResults.channel+'</p></div>';

		return output;
	};

	function getButtons(nextPageToken) {
		if (!nextPageToken) {
			var btnOutput = '<p>No more results to show</p>' 
		} else {
			var btnOutput = '<a href="#" id="next" data-token="'+nextPageToken+'" onclick="nextPage();">Next page</a>'
		}

		return btnOutput;
	};

	function nextPage() {
		var nextPageToken = $('#next').data('token');
		console.log(nextPageToken);

		$('.youtube-feed').html('');
		$('.button').html('');

		$.get('https://www.googleapis.com/youtube/v3/search', {
			part: 'snippet, id',
			q: query,
			type: 'video',
			maxResults: 10,
			pageToken: nextPageToken,
			key: apiKey},
		function(data) {
			nextPageToken = data.nextPageToken;
			$.each(data.items, function(i, item) {
				var dataOutput = getOutput(item);

				$(dataOutput).appendTo('.youtube-feed');
			});

			var buttons = getButtons(nextPageToken);

			$(buttons).appendTo('.button');
		});
	};


</script>
	
<!-- <script>
	var query = 'TANNOY dvs 6',
		apiKey = 'AIzaSyClk5kDLh3fDpf6RnkK_OHzVx2dvCDiLHc',
		nextPageToken = '';

	(function() {
		$.get('https://www.googleapis.com/youtube/v3/search', {
			part: 'snippet, id',
			q: query,
			type: 'video',
			maxResults: 10,
			key: apiKey},
		function(data) {
			nextPageToken += data.nextPageToken;
			console.log(nextPageToken);
			console.log(data);
			$.each(data.items, function(i, item) {
				var dataResults = {
					id: item.id.videoId,
		            title: item.snippet.title,
		            desc: item.snippet.description,
		            thumb: item.snippet.thumbnails.medium.url,
		            channel: item.snippet.channelTitle
				};
				renderData(dataResults);
			});
			$('#next').attr('data-next', nextPageToken);
			button();
		});
	})();

	function renderData(obj) {
		var template = $.trim($('#template').html());
			fillTemplate = template.replace(/{{id}}/ig, obj.id)
									.replace(/{{title}}/ig, obj.title)
									.replace(/{{thumb}}/ig, obj.thumb)
									.replace(/{{channel}}/ig, obj.channel)
									.replace(/{{link}}/ig, 'https://youtube.com/embed/' + obj.id);
		$(fillTemplate).appendTo('.youtube-feed');
	};

	function button() {
		$('#next').on('click', function(e) {
			e.preventDefault();
			nextPage();
		});

	};

	function nextPage() {
		nextPageToken = $('#next').data('next');

		$.get('https://www.googleapis.com/youtube/v3/search', {
			part: 'snippet, id',
			q: query,
			type: 'video',
			maxResults: 1,
			pageToken: nextPageToken,
			key: apiKey},
		function(data) {
			nextPageToken = data.nextPageToken;
			console.log(nextPageToken);
			console.log(data);
			$.each(data.items, function(i, item) {
				var dataResults = {
					id: item.id.videoId,
		            title: item.snippet.title,
		            desc: item.snippet.description,
		            thumb: item.snippet.thumbnails.medium.url,
		            channel: item.snippet.channelTitle
				};
				renderData(dataResults);
			});
			$('#next').attr('data-next', nextPageToken);
			button();
		});
	}
</script> -->

</body>
</html>