.container{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.youtube-item{
	width: 100%;
}

.youtube-item a{
	width: 30%;
	display: inline-block;
}

.youtube-item a img{
	width: 100%;
}

.info{
	width: 70%;}